.login-background {
  height: 100vh;
  background-image: url("../../assets/images/laurynas-me-1TL8AoEDj_c-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .login-container {
    max-width: 500px;
    min-width: 300px;
    height: 500px;
    width: 400px;
    background-color: #f7f4f44f;
    border-radius: 20px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    .login-content {
      padding: 20px;

      .login-title {
        font-size: 30px;
        font-weight: 600;
      }

      .login-input {
        margin: 12px 0px;
        border: none;
        border-radius: none;
        outline: 0;
        border-bottom: 1px solid #999;
      }
      .login-with {
        font-weight: 600;
      }

      .social-login {
        text-align: center;
        padding: 0 75px;

        .social-icon {
          font-size: 36px;
          margin: 20px 20px;
        }
        .fb {
          color: #4c6ef5;
        }

        .gg {
          color: #f73827;
        }
      }

      .login-password {
        position: relative;
        .show-password {
          position: absolute;
          right: 10px;
          top: 10px;
          color: #777;
          cursor: pointer;
        }
      }
    }
  }
  .btn-login {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .forgot-password {
    float: right;
    font-size: 12px;
  }
}
